@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    *,*::after,::before{
        box-sizing: border-box;
    }

    /* Navbar */

    .mobile-nav-list li{
        border-bottom: 1px solid #EEEEEE;
        margin-top: 1rem;
        cursor: pointer;
        padding-bottom: 0.3em;
    }
    .hover:hover,
    .hover:focus,
    .hover:hover,
    .hover:focus{
        color: #ff9900;
        opacity: 0.7;
    }
    .nav-btn:hover,
    .nav-btn:focus{
       opacity: 0.7;
    }

    /* Introduction Part */

    @media (width > 768px ) and (width < 870px){
        .intro-container{
            grid-template-columns: 1.3fr 1fr !important;
        }
    }

    @media (max-width: 768px){
        .intro-content{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
    }

    /* Features */

    .features-container > *{
        background-color: #EEEEEE;
        padding: 0 2em 2em 2em;
        border-radius: 20px;
        text-align: center;
    }

    .features-container svg {
        height: 7em;
        width: 4em;
        color: #ff9900;
        margin-inline: auto;
    }

    .features-container h2{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    .features-container p{
        opacity: 0.7;
    }
}